<div class="top">
    <div class="content col-md-6 offset-md-3"> 
        <div class="inner">
            <div class="d-grid gap-2 col-6 mx-auto">
                <%= link_to '新規登録', step1_registration_path, class: 'btn btn-light btn-outline-danger btn-lg' %> 
                <% if current_user %>
                    <%= link_to '会員ページ', events_path, class: 'btn btn-light btn-outline-primary btn-lg' %> 
                <% else %>
                    <%= link_to '会員ページ', login_path, class: 'btn btn-light btn-outline-primary btn-lg' %> 
                <% end %>
            </div>
        </div>
    </div>
</div>

