<br>
<div class="col-md-4 offset-md-4">
<h3>パスワード再設定リクエストを送る</h3><br>
<p>登録中のEメールアドレス:</p>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <%= f.email_field :email, class: 'form-control' %>
        <%= f.submit "送信する", class: 'btn btn-primary' %>
    <% end %>
</div>