<div id="sent">
<p>パスワードの再設定リクエストを受け付けました<br>
入力いただいたメールアドレスにtaskleaf1237@gmail.comからパスワード再設定の案内が届きますので、2時間以内にご確認いただき、パスワードの再設定を行ってください。<br>
メールが届かない場合は、入力いただいたメールアドレスが登録いただいたアドレスとお間違いないかどうか今一度ご確認ください。<br>
またスパムフォルダや迷惑メールフォルダに届いている場合がありますので、こちらもご確認ください。<br>
</p>
</div>