<div>
    <div class="col-md-4 offset-md-4">
        <h2 class="text-center pt-5"> Work Edit </h2>
            <div class="nav justify-content-end"> 
                <%= link_to 'ワーク一覧', topics_path, class: 'nav-link' %> 
            </div>
            <%= render partial: "form", locals: { work: @work } %>
    </div>
</div>