<!-- カルーセル全体の枠組み -->
<div class="carousel slide" id="sample" data-ride="carousel">
    <!-- ここに画像部分を記述 -->
    <div class="carousel-inner">
        <div class="carousel-item active">
        <%= image_tag "business.png", class: "d-block w-100"%>
            <!-- ここに文字部分を記述 -->
            <div class="carousel-caption d-none d-block", id='business'>
                <h1 class="text-left" id="business">業務紹介</h1>
                <hr id="business">
                <p class="text-left" id="business">培ってきた確かなノウハウで、</p>
                <p class="text-left" id="business-p2">あらゆるニーズに柔軟に対応します。</p>
            </div>
        </div>
    </div>