
<div>
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center pt-5"> WEB登録フォーム</h2>
        <hr width="750" align="left">
        <p>
            look-for-workはWEBだけで登録完了！翌日のアルバイト・お仕事もOKで、登録しておけばいつでもお仕事検索＆応募が可能です。<br>
            <br>
            STEP1 応募情報登録 >STEP2 写真アップロード >STEP3 確認 >STEP4 完了
        </p>
        <h2 class="text-left pt-5"> 必要事項をご記入ください </h2>
            <%= render partial: 'form', locals: { user: @user } %>
    </div>
</div>