
<div>
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center pt-5"> WEB登録フォーム</h2>
        <hr width="750" align="left">

            <p id="step">STEP1 登録情報入力>STEP2 入力内容確認 ></p><h5 id="step">STEP3 完了</h5> 

        <h2 class="text-left pt-5"> 登録が完了しました </h2>
            <%= link_to "こちら", events_path %>からサービスをお使いください。<br>
    </div>
</div>