<%= params[:year] + "/" + params[:month] %><br>
<% sum = 0 %>
<% @events.each do |event| %>
    <% sum += event.wages %>
<% end %>
<h3> 合計金額 </h3>
<%= sum %>円

<% @events.each do |event| %>
    <table class="table table-hover">
        <% sum += event.wages %>
        <tr>
            <th>
                タイトル
            </th>
            <td>
                <%= event.title %>
            </td>
        </tr>
        <tr>
            <th>
                給与
            </th>
            <td>
                <%= event.wages %>
            </td>
        </tr>
    </table>
<% end %>
