<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>応募のキャンセルリクエストについて</h1>
    <p>
    <%= @user.full_name %>様<br/>
    <%= @event.title %>への応募のキャンセルリクエストが完了しました。<br/>
    本メールは、応募のキャンセルリクエストを受け付けた時点で送信される自動配信メールです。<br/>
    担当者によるキャンセル処理によって実際のキャンセルが成立します。<br/>
    </p>
  </body>
</html>