<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>お申し込みのキャンセルリクエストについて</h1>
    <p>
    <%= @user.full_name %>様<br/>
    <%= @event.title %>へのお申し込みのキャンセルリクエストが完了しました。<br/>
    本メールは、お申し込みのキャンセルリクエストを受け付けた時点で送信される自動配信メールです。<br/>
    キャンセル処理によって実際のキャンセルが成立します。<br/>
    </p>
  </body>
</html>