<div>
    <div class="col-md-6 offset-md-3">
            <%= render partial: 'layouts/error_messages', locals: { t: @news } %>
            <%= render partial: "form", locals: { news: @news } %>
    </div>
</div>