<div class="col-md-6 offset-md-3">
    <h2>お知らせ</h2>
    <hr>
    <table class="table table-hover" id='news_index'>
        <tbody> 
            <% @news.each do |news| %>
                <tr> 
                    <td>
                        <%= news.created_at.strftime('%Y/%m/%d') %>
                    </td>
                    <td>
                        <%= link_to news.title, news %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= paginate @news %>
    <div class="nav justify-content-end">
        <% if current_user&.admin? %>
            <%= link_to '追加', new_news_path, class: 'btn btn-primary' %>
        <% end %>
    </div>