<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>会員登録が完了しました</h1>
    <p>
    <%= @user.full_name %>様<br/>
    Job Serchへの会員登録が完了しました。<br/>
    引き続きサービスをご利用ください。<br/>
    </p>
  </body>
</html>