// Place all the styles related to the Admin::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


select#user_birthday_1i {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 580px){
    input#user_address_street.form-control{
        width: 100%;
    }
    input#user_password.form-control{
        width: 100%;
    }
    input#user_password_confirmation.form-control{
        width: 100%;
    }
}