<% if page.current? %>
  <span class="page-item active"> 
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'page-link' %> 
  </span>
<% else %>
  <span class="page-item"> 
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'page-link' %> 
  </span>
<% end %>
