<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>出勤確認メール</h1>
    <p>
    <%= @user.name %>様<br/>
    <%= @event.title %>への出勤確認をよろしくお願いいたします。<br/>
    </p>
  </body>
</html>