<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>お申し込みのキャンセルについて</h1>
    <p>
    <%= @user.full_name %>様<br/>
    <%= @event.title %>へのお申し込みのキャンセルが完了したことをお知らせいたします。<br/>
    </p>
  </body>
</html>