@import 'bootstrap/scss/bootstrap';

/* liから黒丸を消す　*/
li{
    list-style:none;
}

/* kaminariにbootstrapを設定する */
.pagination {
  justify-content: center;
}

.bootstrap-datetime-width {
  /* 縦に並んでいるのを横に並べる */
  display: inline-block;
  /* 横幅を表示に合わせる */
  width: auto;
}

.form-check-input {
  /* マウスカーソルを重ねたときに指マークにする */
  cursor: pointer;
  position: relative;
  left: 25px;
}

/* フッターを下部に固定する */
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

/* カレンダーでのイベントの表示から時刻を消す */
.fc-event-time {
  display: none;
}

td.fc-sat {
  background-color: red;
}
td.fc-sun {
  background-color: #ffeaea;
}
