@import 'bootstrap/scss/bootstrap';

/* liから黒丸を消す　*/
li{
    list-style:none;
}

/* kaminariにbootstrapを設定する */
.pagination {
  justify-content: center;
}

.bootstrap-datetime-width {
  /* 縦に並んでいるのを横に並べる */
  display: inline-block;
  /* 横幅を表示に合わせる */
  width: auto;
}

.form-check-input {
  /* マウスカーソルを重ねたときに指マークにする */
  cursor: pointer;
  position: relative;
  left: 25px;
}

/* フッターを下部に固定する */
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

/* カレンダーでのイベントの表示から時刻を消す */
.fc-event-time {
  display: none;
}

.fc-col-header-cell-cushion{
  color: black
}

.fc-daygrid-day-number{
  color:black
}

.fc-day-sun{
  .fc-daygrid-day-number{
    color: red
  }
}

.fc-day-sat{
  .fc-daygrid-day-number{
    color: #007BFF;
  }
}

.fc-day-sun{
  .fc-col-header-cell-cushion {
    color: red;
  }
}
.fc-day-sat{
  .fc-col-header-cell-cushion {
    color: #007BFF;
  }
}

.fc-bg-event.fc-event.fc-event-start.fc-event-end{
  background-color: white
}

a#navbarDropdown {
  color: black;
}

a#nav-linkDropdown {
  color: black;
}

div#test {
  margin-bottom: 40px ;
}

div#sent {
  padding: 50px;
}

/* form_with */
label {
  display: block; /* これなしだとwidthが効かない */
  width: 200px;
}

.form-control {
  margin-bottom: 15px;
  margin-top: 15px;
}

.file-form {
  margin-bottom: 15px;
  margin-top: 15px;
}

table#form_table {
  margin-bottom: 30px;
  margin-top: 40px;
}

.form-con{
  margin-bottom: 15px;
  margin-top: 15px;
}

#entry_link{
  font-size:30px;
}

.border{
  border-top:solid 1px red;
}

#gender_checkbox {
  display: inline-block;
  width: 25px;
} 

.bootstrap-date {
  display: inline-block;
  width: auto;
}

h5#step {
  display: inline-block;
}

p#step {
  display: inline-block;
}

input[type="text"]:focus,
textarea:focus {
  background: #e9f5fb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@media (max-width:789px){
  table td,table th{ display:block; }
}
@media (min-width:790px){
  table td,table th{ display:table-cell; }
}
