// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.calendar-container {
    padding-left:  120px;
    padding-right: 120px;
}

@media (min-width: 1280px){
    .calendar-container {
        padding-left:  200px;
        padding-right: 200px;
    }
}
@media (max-width: 980px){
    .calendar-container {
        padding-left:  0px;
        padding-right: 0px;
    }
    div.jumbotron.jumbotron-extend {
        margin: 0px;
        padding: 0px;
        padding-top: 50px;
        margin-top:10px;
    }
}
@media (max-width: 480px){
    .calendar-container {
        padding-left:  0px;
        padding-right: 0px;
    }
    div.jumbotron.jumbotron-extend {
        margin: 0px;
        padding: 0px;
        padding-top: 50px;
    }
}