// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* カレンダー */
.calendar-container {
    padding-left:  120px;
    padding-right: 120px;
}

@media (min-width: 1280px){
    .calendar-container {
        padding-left:  200px;
        padding-right: 200px;
    }
}
@media (max-width: 980px){
    .calendar-container {
        padding-left:  0px;
        padding-right: 0px;
    }
    div.jumbotron.jumbotron-extend {
        margin: 0px;
        padding: 0px;
        padding-top: 50px;
        margin-top:10px;
    }
}
@media (max-width: 480px){
    .calendar-container {
        padding-left:  0px;
        padding-right: 0px;
    }
    div.jumbotron.jumbotron-extend {
        margin: 0px;
        padding: 0px;
        padding-top: 50px;
    }
}

/* form修正*/
input#event_title.form-control{
    width: 20em;
}

input#event_description.form-control{
    width: 20em;
}

input#event_place.form-control{
    width: 20em;
}

input#event_wages.form-control{
    width: 10em;
}

input#event_allowance.form-control{
    width: 10em;
}

input#event_limit.form-control{
    width: 10em;
}
input#event_remark.form-control{
    width: 20em;
}

input#event_discription.form-control{
    width: 10em;
}
@media (max-width: 480px){
    input#event_title.form-control{
        width: 100%;
    }

    input#event_description.form-control{
        width: 100%;
    }

    input#event_place.form-control{
        width: 100%;
    }

    input#event_wages.form-control{
        width: 10em;
    }

    input#event_allowance.form-control{
        width: 10em;
    }

    input#event_limit.form-control{
        width: 10em;
    }
    input#event_remark.form-control{
        width: 100%;
    }

    input#event_discription.form-control{
        width: 100%;
    }
}

.event_show_container {
    margin-top: 80px;
}
