// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.News {
    padding-top: 50px;
}

h5#news {
    margin-top: 50px;
}

table#news_index.table.table-hover {
    margin-top: 30px;
}

table#news.table.table-hover{
    margin-top: 20px;
}

td#news{
    padding-top: 30px;
}