// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.carousel-caption {
    top: 45%;
}
.carousel-h1 {
    font-size: 4vw;
}
.carousel-p {
    font-size: 3vw;    /* 文字サイズ指定 */
}
#link_to {
    font-size: 1.7vw;
}
.container {
    padding-top: 50px;
    margin-top: 22px;
}
@media (min-width: 980px){
    .carousel-caption {
        top: 55%;
    }
}
@media (max-width: 480px){
    .carousel-caption {
        top: 40%;
    }
    .container {
        margin-top: 17px;
    }
    .carousel-h1 {
        font-size: 4vw;
        padding-top: 10px;
    }
    .carousel-p {
        margin-bottom: 5px;
    }
    #link_to {
        padding-top: -10px;
    }
    .carousel-indicators {
        visibility: hidden;
    }
}