// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div#carousel-1.carousel-caption.d-none.d-block{
    top: 20%;
}
.carousel-caption {
    top: 40%;
}
h1.carousel-h1 {
    font-size: 5vw;
    line-height: 0.8;
    color: #444444;
}

p#rb {
    font-size: 1.5vw;
    line-height: 0;
    color: #444444;
}
.carousel-p {
    font-size: 2vw;
    line-height: 4;
    color: #444444;
}
#link_to {
    font-size: 1.7vw;
}

h1.carousel-h2 {
    font-size: 5vw;
    line-height: 0.8;
    color: white;
}
.carousel-p-2 {
    font-size: 2vw;
    line-height: 4;
    color: white;
}

/* カルーセル */
body{
    margin: 0px;
    padding: 0px;
}
.main {
    position: fixed;
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
}
@media (min-width: 980px){
    .carousel-caption {
        top: 55%;
    }
}
@media (max-width: 480px){
    .carousel-caption {
        top: 40%;
    }

    .carousel-h1 {
        font-size: 4vw;
        padding-top: 10px;
    }
    .carousel-p {
        margin-bottom: 5px;
    }
    #link_to {
        padding-top: -10px;
    }
    .carousel-indicators {
        visibility: hidden;
    }
}

.navbar-inner {
    background:transparent;
}