// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* カルーセル全体の配置 */
body{
    margin: 0px;
    padding: 0px;
}
.main {
    position: fixed;
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
}
@media (min-width: 980px){
    .carousel-caption {
        top: 55%;
    }
}
@media (max-width: 480px){
    .carousel-caption {
        top: 40%;
    }

    .carousel-h1 {
        font-size: 4vw;
        padding-top: 10px;
    }
    .carousel-p {
        margin-bottom: 5px;
    }
    #link_to {
        padding-top: -10px;
    }
    .carousel-indicators {
        visibility: hidden;
    }
}

/* カルーセルの文字1 */

div#carousel-1.carousel-caption.d-none.d-block{
    top: 20%;
    left: 10%;
}
#rb-1 {
    font-size: 2vw;
    line-height: 0;
    color: #444444;
}
#h1-1 {
    font-size: 7vw;
    line-height: 0.8;
    color: #444444;
}
#p-1 {
    font-size: 3vw;
    line-height: 4;
    color: #444444;
}
div#carousel-1-link_to.carousel-caption.d-none.d-block{
    top:60%
}
#link_to-1 {
    font-size: 1.7vw;
}

/* カルーセルの文字2 */
div#carousel-2.carousel-caption.d-none.d-block{
    top: 20%;
}
#rb-2 {
    font-size: 2vw;
    line-height: 0;
    color: white;
}
#h1-2 {
    font-size: 7vw;
    line-height: 0.8;
    color: white;
}
#p-2 {
    font-size: 3vw;
    line-height: 4;
    color: white;
}
div#carousel-2-link_to.carousel-caption.d-none.d-block{
    top:60%
}
#link_to-2 {
    font-size: 1.7vw;
}

