<div>
    <div class="col-md-4 offset-md-4">
        <h2 class="text-center pt-5"> ユーザー編集 </h2>
            <div class="nav justify-content-end"> 
                <%= link_to 'ユーザーリスト', admin_users_path, class: 'nav-link'%>
            </div>
            <%= render partial: 'form', locals: { user: @user } %>
    </div>
</div>