<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>ジョブサーチ</title>
  </head>
  <body>
    <div class="container">
      <!-- カルーセル全体の枠組み -->
      <div class="carousel slide" id="sample" data-ride="carousel">
        <!-- ここにインディケーターを配置 -->
        <ol class="carousel-indicators">
          <li data-target="#sample" data-slide-to="0" class="active"></li>
          <li data-target="#sample" data-slide-to="1"></li>
          <li data-target="#sample" data-slide-to="2"></li>
        </ol>
        <!-- ここに画像部分を記述 -->
        <div class="carousel-inner">
          <div class="carousel-item active"><%= image_tag "image_1.png", class: "d-block w-100"%></div>
          <div class="carousel-item"><%= image_tag "image_2.png", class: "d-block w-100"%></div>
          <div class="carousel-item"><%= image_tag "image_3.png" , class: "d-block w-100"%></div>
        </div>
        <!-- 画像遷移のボタンを記述 -->
        <a href="#sample" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="sr-only">前の画像へ</span>
        </a>
        <a href="#sample" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="sr-only">次の画像へ</span>
        </a>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>

